Repository jakobo/codedrift: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.js": ["yarn lint --fix", "prettier --write"],
  "*.md": ["prettier --write"]
}

.lintstagedrc.yml:

# global configurations, these are always cleaned with prettier
"{*,**/*}.{json,gql,md,yaml,yml}":
  - prettier --write

# Good 'ole JavaScript & Friends
"{*,**/*}.{js,ts,jsx,tsx,vue}":
  - eslint --fix
  - prettier --write

fix: Fixes spacing on draft notice
  src/pages/thunked/draft/[slug].js
Due: yarn lint --fix, prettier --write, eslint --fix

fix: Fixes errant Title tag from change to createTitle
  src/pages/thunked/tag/[name].js
Due: yarn lint --fix, prettier --write, eslint --fix

fix: Fixes issue with purged css class
  src/components/Post/index.js
Due: yarn lint --fix, prettier --write, eslint --fix

fix: Fixes minor title tag annoyance on drafts
  src/pages/thunked/draft/[slug].js
Due: yarn lint --fix, prettier --write, eslint --fix

fix: Makes general fixes to comments, license, logo before public-ing the site
  LICENSE-posts
  resources/cd-logo/logo.ai
  src/pages/thunked/[slug].js
Due: yarn lint --fix, prettier --write, eslint --fix

refactor: Adds notes for what is needed in env.local
  .env.development
Due: none

docs: Adds udpates to readme
  README.md
Due: prettier --write

fix: Applies minor fixes to webmention properties
  src/components/Webmention/index.js
  src/graphql/resolvers/Query/webmentions.js
  src/pages/thunked/[slug].js
Due: yarn lint --fix, prettier --write, eslint --fix

feat: Adds webmention source URL to the name, and author url to photo
  src/components/Webmention/index.js
Due: yarn lint --fix, prettier --write, eslint --fix

feat: Changes to prism for highlighting, more Tailwind friendly
  .babelrc
  .yarn/build-state.yml
  package.json
  public/styles/prism.css
  src/components/Prism/index.js
  src/components/markup/rehype.js
  src/pages/_app.js
  yarn.lock
Due: yarn lint --fix, prettier --write, eslint --fix

deps: Cleans up dep tree
  .yarn/cache/fault-npm-1.0.4-2788bc13e3-6b8ef4f743.zip
  .yarn/cache/format-npm-0.2.2-679f3acc64-0740f52121.zip
  .yarn/cache/hast-util-to-text-npm-2.0.1-2541ca4a18-4f945792aa.zip
  .yarn/cache/highlight.js-npm-10.6.0-a9435af1df-ffe7a21791.zip
  .yarn/cache/lowlight-npm-1.19.0-f0f9837b40-4d9d5c6512.zip
  .yarn/cache/rehype-highlight-npm-4.0.0-2721b78fba-8b30830607.zip
  .yarn/cache/unist-util-find-after-npm-3.0.0-7381434645-afad28f7bc.zip
  package.json
  yarn.lock
Due: prettier --write

deps: Adds prismjs
  package.json
  yarn.lock
Due: prettier --write

feat: Makes first pass at og image generator
  .env.development
  .gitignore
  .yarn/build-state.yml
  .yarn/cache/@types-mdast-npm-3.0.3-3eaccff045-d271df999e.zip
  .yarn/cache/character-entities-npm-1.2.4-a5c359383c-6ca8a790a2.zip
  .yarn/cache/character-reference-invalid-npm-1.1.4-e5e17a1a38-82d8ce7828.zip
  .yarn/cache/dom-serializer-npm-0.2.2-2e24969c0e-598e05e71b.zip
  .yarn/cache/domutils-npm-2.0.0-f987b47c2d-0570562cb9.zip
  .yarn/cache/html-to-react-npm-1.4.2-f052e6eb0f-599a6b23cb.zip
  .yarn/cache/htmlparser2-npm-4.0.0-648140ecf4-f51834af9c.zip
  .yarn/cache/is-alphabetical-npm-1.0.4-94e2e7f984-a4a2afcf65.zip
  .yarn/cache/is-alphanumerical-npm-1.0.4-c96dc6d674-d97ec38a74.zip
  .yarn/cache/is-decimal-npm-1.0.4-e67dbd40dd-57a0e1a87f.zip
  .yarn/cache/is-hexadecimal-npm-1.0.4-b4091da09e-653c1d0115.zip
  .yarn/cache/lodash.camelcase-npm-4.3.0-bf268e3bf0-3cb674ed3b.zip
  .yarn/cache/mdast-add-list-metadata-npm-1.0.1-af1e386973-1aa118b3c3.zip
  .yarn/cache/mdast-util-from-markdown-npm-0.8.5-0b8b6dc7ba-7853d3eeb4.zip
  .yarn/cache/mdast-util-to-string-npm-2.0.0-3a5d9c4970-cd5d5e3a84.zip
  .yarn/cache/micromark-npm-2.11.4-f7ec94840a-343bfde8ac.zip
  .yarn/cache/parse-entities-npm-2.0.0-b7b4f46ff6-6a9213216b.zip
  .yarn/cache/ramda-npm-0.26.1-2050f67102-22e3fbfabd.zip
  .yarn/cache/react-is-npm-16.12.0-b02e1a4098-ddcafd1c3f.zip
  .yarn/cache/react-markdown-npm-5.0.3-657b4fa0b0-9e27eb9efd.zip
  .yarn/cache/remark-parse-npm-9.0.0-da1fe74019-ca34e41b0c.zip
  .yarn/cache/unist-util-visit-parents-npm-1.1.2-9e59a5e880-0f5108267d.zip
  README.md
  package.json
  src/pages/api/v1/ogimage/thunked/[slug].js
  src/pages/thunked/og/[slug].js
  yarn.lock
Due: yarn lint --fix, prettier --write, eslint --fix

fix: Adds delays to ensure next.js loads correctly in screenshot
  src/pages/api/v1/ogimage/thunked/[slug].js
Due: yarn lint --fix, prettier --write, eslint --fix

fix: Changes to networkidle2 for puppeteer
  src/pages/api/v1/ogimage/thunked/[slug].js
Due: yarn lint --fix, prettier --write, eslint --fix

feat: Launches og:image for thunked
  src/pages/api/v1/og/image/thunked/[slug].js
  src/pages/og/image/thunked/[slug].js
  src/pages/thunked/[slug].js
Due: yarn lint --fix, prettier --write, eslint --fix

fix: Adds url resolution with timestamp
  next.config.js
  src/pages/api/v1/og/image/thunked/[slug].png.js
  src/pages/thunked/[slug].js
Due: yarn lint --fix, prettier --write, eslint --fix

fix: Fixes issue where vercel api paths don't like png.js
  src/pages/api/v1/og/image/thunked/[slug].js
  src/pages/thunked/[slug].js
Due: yarn lint --fix, prettier --write, eslint --fix

feat: Changes twitter display to always large-image
  src/pages/thunked/[slug].js
Due: yarn lint --fix, prettier --write, eslint --fix

feat: Adds shortlink support via coda doc
  src/pages/to/[link].js
Due: yarn lint --fix, prettier --write, eslint --fix

fix: Fixes for dark prose and basic updates
  src/components/Layout/index.js
  src/components/Post/Directory.js
  src/components/Timeline/events/2018/Aibex.js
  src/components/Timeline/events/2020/ProjectThanks.js
  src/components/Timeline/index.js
  src/pages/_app.js
  src/pages/about.js
  src/pages/index.js
Due: yarn lint --fix, prettier --write, eslint --fix

feat: Supports drafts of unpublished posts
  .yarn/cache/@tryghost-admin-api-npm-1.4.3-822562c37d-68da37a394.zip
  .yarn/cache/buffer-equal-constant-time-npm-1.0.1-41826f3419-a38a6fead1.zip
  .yarn/cache/ecdsa-sig-formatter-npm-1.0.11-b6784e7852-9d07775ee2.zip
  .yarn/cache/jsonwebtoken-npm-8.5.1-c007670b76-ea44bbb7a7.zip
  .yarn/cache/jwa-npm-1.4.1-4f19d6572c-e3a6234a3a.zip
  .yarn/cache/jws-npm-3.2.2-c1ae59c7af-3990b26ebb.zip
  .yarn/cache/lodash.includes-npm-4.3.0-3a2f6fa22c-20d6b1bf78.zip
  .yarn/cache/lodash.isboolean-npm-3.0.3-b575b41488-e5b7a921f4.zip
  .yarn/cache/lodash.isinteger-npm-4.0.4-42add9f4e1-a29551cc9a.zip
  .yarn/cache/lodash.isnumber-npm-3.0.3-b3bb5f7347-a33b10bf57.zip
  .yarn/cache/lodash.isstring-npm-4.0.1-721fee791c-20c46960b7.zip
  .yarn/cache/lodash.once-npm-4.1.1-d8ba329ead-236e00ca5f.zip
  package.json
  src/graphql/resolvers/Query/draft.js
  src/graphql/resolvers/Query/postDirectory.js
  src/graphql/resolvers/index.js
  src/graphql/typeDefs.js
  src/lib/ghost/index.js
  src/pages/thunked/draft/[slug].js
  yarn.lock
Due: yarn lint --fix, prettier --write, eslint --fix

Create thunked.md
  .github/ISSUE_TEMPLATE/thunked.md
Due: prettier --write

Update thunked.md
  .github/ISSUE_TEMPLATE/thunked.md
Due: prettier --write

Create ama.md
  .github/ISSUE_TEMPLATE/ama.md
Due: prettier --write

Delete ama.md
  .github/ISSUE_TEMPLATE/ama.md
Due: prettier --write

deps: Updates dependencies
  .yarn/cache/@octokit-app-npm-12.0.5-3f471aac54-5129505b9e.zip
  .yarn/cache/@octokit-auth-app-npm-3.6.1-78dbde917e-46a8f74e87.zip
  .yarn/cache/@octokit-auth-oauth-app-npm-4.3.0-fef74857c8-21cec2f23f.zip
  .yarn/cache/@octokit-auth-oauth-device-npm-3.1.2-fb163c5218-dd626c4294.zip
  .yarn/cache/@octokit-auth-oauth-user-npm-1.3.0-589767f915-5d583164f4.zip
  .yarn/cache/@octokit-auth-token-npm-2.5.0-a1c6ffb640-d971ca2b80.zip
  .yarn/cache/@octokit-auth-unauthenticated-npm-2.1.0-2ffb34d05b-9d5577c856.zip
  .yarn/cache/@octokit-core-npm-3.5.1-a933dedcf7-2967d97b43.zip
  .yarn/cache/@octokit-endpoint-npm-6.0.12-d467db27fd-ff92bc2608.zip
  .yarn/cache/@octokit-graphql-npm-4.8.0-83d118b4da-8ff5cba1b6.zip
  .yarn/cache/@octokit-oauth-app-npm-3.6.0-93a2b53ca2-7b8c173c5f.zip
  .yarn/cache/@octokit-oauth-authorization-url-npm-4.3.3-7009cac13d-c728188c4a.zip
  .yarn/cache/@octokit-oauth-methods-npm-1.2.6-d04e93e0fe-f9e65599b3.zip
  .yarn/cache/@octokit-openapi-types-npm-11.2.0-10b7a5c509-8fc9390afc.zip
  .yarn/cache/@octokit-plugin-paginate-rest-npm-2.17.0-4d48903092-83df8234fb.zip
  .yarn/cache/@octokit-plugin-rest-endpoint-methods-npm-5.13.0-976c113da3-65c1ebb25c.zip
  .yarn/cache/@octokit-plugin-retry-npm-3.0.9-e9404388ef-8b171267b9.zip
  .yarn/cache/@octokit-plugin-throttling-npm-3.5.2-5ea86527ce-02cd9a7657.zip
  .yarn/cache/@octokit-request-error-npm-2.1.0-51ac624306-0fdf0075bc.zip
  .yarn/cache/@octokit-request-npm-5.6.2-2a9866bd05-f3d45f4922.zip
  .yarn/cache/@octokit-types-npm-6.34.0-1de469b7ee-d797eb0d3c.zip
  .yarn/cache/@octokit-webhooks-methods-npm-2.0.0-b902c12ff9-b99e19cb07.zip
  .yarn/cache/@octokit-webhooks-npm-9.20.0-6508883d15-28f3532426.zip
  .yarn/cache/@octokit-webhooks-types-npm-4.17.1-ff806e9e0b-41139aac4b.zip
  .yarn/cache/@types-aws-lambda-npm-8.10.87-959f6f5ffc-b8e89accd0.zip
  .yarn/cache/@types-btoa-lite-npm-1.0.0-01da883611-e9f9edf746.zip
  .yarn/cache/@types-jsonwebtoken-npm-8.5.6-a2debacc40-11294f8e18.zip
  .yarn/cache/@types-lru-cache-npm-5.1.1-46aaa305fe-8f4792a688.zip
  .yarn/cache/before-after-hook-npm-2.2.2-b463f0552f-06dd8fc2a1.zip
  .yarn/cache/bottleneck-npm-2.19.5-2c6092aa17-712d8cf9ed.zip
  .yarn/cache/btoa-lite-npm-1.0.0-e85ee9286e-d41fc7dc9f.zip
  .yarn/cache/deprecation-npm-2.3.1-e19c92d6e7-59343a0b92.zip
  .yarn/cache/fromentries-npm-1.3.2-f5392090b8-5cc722e4e3.zip
  .yarn/cache/is-plain-object-npm-5.0.0-285b70faa3-92bd87f095.zip
  .yarn/cache/octokit-npm-1.7.1-bfebbb1c97-eb03ae7db9.zip
  .yarn/cache/universal-github-app-jwt-npm-1.1.0-47f0de09a5-e0e8e26cd4.zip
  .yarn/cache/universal-user-agent-npm-6.0.0-b148fb997a-725797ab63.zip
  package.json
  yarn.lock
Due: prettier --write
