Repository jakobo/codedrift: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.js": ["yarn lint --fix", "prettier --write"],
  "*.md": ["prettier --write"]
}

.lintstagedrc.yml:

# global configurations, these are always cleaned with prettier
"{*,**/*}.{json,gql,md,yaml,yml}":
  - prettier --write

# Good 'ole JavaScript & Friends
"{*,**/*}.{js,ts,jsx,tsx,vue}":
  - eslint --fix
  - prettier --write

feat: Moves thunked away from graphql calls
  src/lib/webmentions/client.ts
  src/lib/webmentions/getWebmentions.ts
  src/pages/thunked/[slug].js
  src/pages/thunked/[slug].tsx
  src/pages/thunked/category/[name].tsx
  src/pages/thunked/draft/[slug].js
  src/pages/thunked/tag/[name].js
Due: yarn lint --fix, prettier --write, eslint --fix

fix: Updates to category everywhere
  src/pages/index.tsx
Due: prettier --write, eslint --fix

fix: Fixes types
  src/components/Post.tsx
Due: prettier --write, eslint --fix

deps: Adds tool-versions for asdf
  .tool-versions
Due: none

refactor: Ignores generated
  .prettierignore
Due: none

feat: Preps for gql migration
  .env.development
  .env.production
  .yarn/cache/@graphql-codegen-typescript-graphql-request-npm-4.3.2-8c65fbb886-11a8df349c.zip
  .yarn/cache/@graphql-codegen-typescript-urql-npm-3.4.1-c9cf075b23-6e6ef4aa9b.zip
  .yarn/cache/@graphql-codegen-urql-introspection-npm-2.1.0-19eda977cd-2b4734355c.zip
  .yarn/cache/@graphql-typed-document-node-core-npm-3.1.0-626997e126-582eb20060.zip
  .yarn/cache/@types-http-proxy-npm-1.17.8-0e73b3e3eb-3b3d683498.zip
  .yarn/cache/@urql-core-npm-2.3.6-20957b363b-39b10abc9b.zip
  .yarn/cache/@urql-devtools-npm-2.0.3-e29fae5136-9b4a46dd0b.zip
  .yarn/cache/@urql-introspection-npm-0.3.0-fdb6e1fef9-c601d6a841.zip
  .yarn/cache/@urql-introspection-npm-0.3.1-4ce8874bd9-70bf3064fb.zip
  .yarn/cache/eventemitter3-npm-4.0.7-7afcdd74ae-1875311c42.zip
  .yarn/cache/follow-redirects-npm-1.14.6-0483823f49-7fcdb089a7.zip
  .yarn/cache/http-proxy-middleware-npm-2.0.1-d5d4a98393-0de65bc664.zip
  .yarn/cache/http-proxy-npm-1.18.1-a313c479c5-f5bd96bf83.zip
  .yarn/cache/is-plain-obj-npm-3.0.0-a5ae411d5a-a6ebdf8e12.zip
  .yarn/cache/next-urql-npm-3.1.0-d545d9cdfd-7db9f46326.zip
  .yarn/cache/react-ssr-prepass-npm-1.4.0-689abd7b8b-dc7db3f151.zip
  .yarn/cache/requires-port-npm-1.0.0-fd036b488a-eee0e303ad.zip
  .yarn/cache/urql-npm-2.0.6-b80f0169b5-d78b55f58f.zip
  .yarn/cache/wonka-npm-4.0.15-716683372a-afbee7359e.zip
  __generated__/graphql.ts
  codegen.js
  package.json
  src/graphql/index.ts
  src/graphql/posts.graphql
  src/lib/github/issueToBlog.ts
  src/pages/api/proxy/api.github.com/graphql.ts
  src/pages/thunked/[slug].tsx
  yarn.lock
Due: yarn lint --fix, prettier --write, eslint --fix

fix: Fixes color on commas in post block
  src/components/Post.tsx
Due: prettier --write, eslint --fix

refactor: Cleans up post type usage
  src/components/Directory.tsx
  src/pages/index.tsx
  src/pages/og/image/thunked/[slug].tsx
  src/pages/thunked.tsx
  src/pages/thunked/[slug].tsx
  src/pages/thunked/tag/[name].tsx
Due: prettier --write, eslint --fix

fix: Fixes ts error
  .gitignore
  src/lib/markup/plugins/rehype-noempty.ts
Due: prettier --write, eslint --fix

Update README.md
  README.md
Due: prettier --write

feat: Adds ISG to main pages
  src/pages/index.tsx
  src/pages/thunked.tsx
  src/pages/thunked/tag/[name].tsx
Due: prettier --write, eslint --fix

fix: Fixes call to getStaticPaths on root
  src/pages/index.tsx
Due: prettier --write, eslint --fix

fix: Fixes call to getStaticPaths on root
  src/pages/thunked.tsx
Due: prettier --write, eslint --fix

fix: Handles a null category
  src/components/Post.tsx
Due: prettier --write, eslint --fix

Update LICENSE-posts
  LICENSE-posts
Due: none

feat: Adds new notes powered by obsidian
  next.config.js
  src/components/Layout.tsx
Due: yarn lint --fix, prettier --write, eslint --fix

refactor: Replaces coda with yaml shortlinks
  .yarn/cache/coda-js-npm-4.0.1-d603f1286d-175c8eacf4.zip
  .yarn/cache/find-up-npm-6.2.0-5beca5eb6c-149085af5c.zip
  .yarn/cache/locate-path-npm-7.0.0-656a2af224-a0de7f882f.zip
  .yarn/cache/p-limit-npm-4.0.0-5dccf29b67-01d9d70695.zip
  .yarn/cache/p-locate-npm-6.0.0-b6cfb720dc-2bfe5234ef.zip
  .yarn/cache/path-exists-npm-5.0.0-0bf403c56c-8ca842868c.zip
  .yarn/cache/yocto-queue-npm-1.0.0-7b502f1987-2cac84540f.zip
  package.json
  src/data/shortlinks.ts
  src/data/shortlinks.yaml
  src/pages/index.tsx
  src/pages/to/[link].tsx
  yarn.lock
Due: prettier --write, eslint --fix

chore: Adds bug reporting template
  .github/ISSUE_TEMPLATE/bug.md
Due: prettier --write

chore: Retitles thunk post template
  .github/ISSUE_TEMPLATE/thunked.md
Due: prettier --write

fix: Fixes issue with webmention not using .result of VFile
  src/components/Webmention.tsx
Due: prettier --write, eslint --fix

fix: Moves shortlink to API
  src/data/shortlinks.ts
  src/pages/api/v1/shortlink/[key].ts
  src/pages/to/[link].tsx
Due: prettier --write, eslint --fix

fix: Moved shortlinks to graphql query
  __generated__/graphql.ts
  data/shortlinks.yaml
  src/data/shortlinks.ts
  src/graphql/shortlinks.graphql
  src/pages/api/v1/shortlink/[key].ts
  src/pages/to/[link].tsx
  types/shortlinks.ts
Due: prettier --write, eslint --fix

fix: Fixes nav on narrow screens
  src/components/Layout.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix

docs: Updates README.md
  README.md
Due: prettier --write

feat: Adds NextSeo to all pages
  public/images/v2.og.png
  src/pages/_app.tsx
  src/pages/colophon.tsx
  src/pages/index.tsx
  src/pages/support.tsx
  src/pages/thunked.tsx
  src/pages/to/[link].tsx
Due: prettier --write, eslint --fix

feat: Adds favicon stuff
  public/android-chrome-192x192.png
  public/android-chrome-384x384.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
  src/pages/_document.tsx
Due: prettier --write, eslint --fix

refactor: Removes old logo files
  public/logos/cd-2x.png
  public/logos/cd-4x.png
  public/logos/cd.svg
  public/logos/logo-2x.png
  public/logos/logo-4x.png
  public/logos/logo.svg
  resources/cd-logo/logo.ai
Due: none

feat: Adds changelogs back to posts
  src/components/Post.tsx
  src/lib/github/discussionToPost.ts
  src/pages/thunked/[slug].tsx
  types/Post.ts
Due: prettier --write, eslint --fix
