Repository jakobo/codedrift: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.js": ["yarn lint --fix", "prettier --write"],
  "*.md": ["prettier --write"]
}

.lintstagedrc.yml:

# global configurations, these are always cleaned with prettier
"{*,**/*}.{json,gql,md,yaml,yml}":
  - prettier --write

# Good 'ole JavaScript & Friends
"{*,**/*}.{js,ts,jsx,tsx,vue}":
  - eslint --fix
  - prettier --write

feat: Adds parsing for changelogs
  .yarn/cache/bindings-npm-1.5.0-77ce1d213c-65b6b48095.zip
  .yarn/cache/deasync-npm-0.1.26-360249845f-4ac04ba620.zip
  .yarn/cache/file-uri-to-path-npm-1.0.0-1043ac6206-b648580bdd.zip
  .yarn/cache/node-addon-api-npm-1.7.2-c341ccaeb6-938922b3d7.zip
  .yarn/cache/require-esm-in-cjs-npm-0.1.0-ec528e652e-acbaa7c19b.zip
  .yarn/cache/tailwind-children-npm-0.5.0-65f1964e6f-884991340d.zip
  package.json
  src/lib/github/discussionToPost.ts
  src/pages/thunked/[slug].tsx
  tailwind.config.js
  types/Post.ts
  yarn.lock
Due: yarn lint --fix, prettier --write, eslint --fix

fix: Checks number of entries in changelog on post page
  src/pages/thunked/[slug].tsx
Due: prettier --write, eslint --fix

feat: Moves to swc, removes webmention for discussion
  .babelrc
  README.md
  components/Layout.tsx
  components/Webmention.tsx
  gql/labels.graphql
  gql/posts.graphql
  gql/shortlinks.graphql
  hooks/usePrism.ts
  lib/data/mockMentions.json
  lib/github/discussionToPost.ts
  lib/markdoc/nodes/document.tsx
  lib/markdoc/nodes/fence.tsx
  lib/markdoc/nodes/link.tsx
  lib/markdoc/schema.ts
  lib/parser/github.ts
  lib/parser/plaintext.ts
  lib/parser/plugins/rehype-encode-quotes.ts
  lib/parser/plugins/rehype-sanitize-webmention.json
  lib/parser/plugins/rehype-select.ts
  lib/parser/plugins/rehype-smartypants.ts
  lib/parser/tags/A.tsx
  lib/parser/webmentions.ts
  lib/parser/withHtmlString.ts
  lib/parser/withReact.ts
  lib/webmentions/client.ts
  package.json
  pages/_app.tsx
  pages/feed/[type].tsx
  pages/thunked/[slug].tsx
  pages/thunked/tag/[name].tsx
  pnpm-lock.yaml
  public/styles/prism.css
  tailwind.config.js
  types/Post.ts
Due: yarn lint --fix, prettier --write, eslint --fix

fix: Fixes markdoc frontmatter bug
  lib/github/discussionToPost.ts
  pages/thunked/tag/[name].tsx
Due: prettier --write, eslint --fix

fix: Cleans up intro and colophon
  pages/colophon.tsx
  pages/index.tsx
Due: prettier --write, eslint --fix

chore: Adds legacy layout images
  public/images/legacy/2001-05-02-net.hypermart.mechanicalruins.png
  public/images/legacy/2002-02-06-net.mechanicalruins.png
  public/images/legacy/2002-03-20-org.felocity.png
  public/images/legacy/2003-02-10-org.felocity.png
  public/images/legacy/2003-10-22-org.felocity.png
  public/images/legacy/2004-08-31-org.felocity.png
  public/images/legacy/2005-03-29-org.felocity.png
  public/images/legacy/2006-04-11-org.felocity.png
  public/images/legacy/2006-10-12-org.felocity.png
  public/images/legacy/2010-01-02-com.felocity.png
  public/images/legacy/2014-08-14-com.felocity.png
  public/images/legacy/2016-10-26-com.felocity.png
  public/images/legacy/2020-02-24-com.codedrift.png
  public/images/legacy/2022-05-25-com.codedrift.png
Due: none

fix: Fixes colophon revision count
  pages/colophon.tsx
Due: prettier --write, eslint --fix

fix: Updates colophon to 15th rev
  pages/colophon.tsx
  public/images/legacy/2002-06-04-org.felocity.png
Due: prettier --write, eslint --fix

feat: Added previous designs to the colophon
  package.json
  pages/colophon.tsx
  pnpm-lock.yaml
  public/images/legacy/20010502.png
  public/images/legacy/20020206.png
  public/images/legacy/20020320.png
  public/images/legacy/20020604.png
  public/images/legacy/20030210.png
  public/images/legacy/20031022.png
  public/images/legacy/20040831.png
  public/images/legacy/20050329.png
  public/images/legacy/20060411.png
  public/images/legacy/20061012.png
  public/images/legacy/20100102.png
  public/images/legacy/20140814.png
  public/images/legacy/20161026.png
  public/images/legacy/20200224.png
  public/images/legacy/20220525.png
Due: prettier --write, eslint --fix

deps: Adds copy-to-clipboarD
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: Fixes intent link from overzealous adblockers
  pages/thunked/[slug].tsx
Due: prettier --write, eslint --fix

fix: Removes some legacy markdoc refs
  .syncpackrc.json
  lib/markdoc/nodes/document.tsx
  pages/thunked/[slug].tsx
  pages/thunked/tag/[name].tsx
Due: prettier --write, eslint --fix

feat: Adds analytics
  package.json
  pages/_app.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: Adds fediverse redirect
  package.json
  pages/.well-known/webfinger.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: Switch twiter to mastodon
  components/Layout.tsx
  components/icons/Mastodon.tsx
Due: prettier --write, eslint --fix

feat: Updates webfinger to hachyderm.io
  pages/.well-known/webfinger.tsx
Due: prettier --write, eslint --fix

chore: Adds import ordering
  .eslintrc
  components/Directory.tsx
  components/Layout.tsx
  components/providers.tsx
  gql/index.ts
  gql/labels.ts
  gql/posts.ts
  gql/shortlinks.ts
  lib/constants.ts
  lib/github/discussionToPost.ts
  lib/markdoc/nodes/fence.tsx
  package.json
  pages/.well-known/webfinger.tsx
  pages/_app.tsx
  pages/api/v3/thunked/og.ts
  pages/colophon.tsx
  pages/feed/[type].tsx
  pages/index.tsx
  pages/support.tsx
  pages/thunked.tsx
  pages/thunked/[slug].tsx
  pages/thunked/tag/[name].tsx
  pages/to/[link].tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: Enables husky via prepare hook
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: Prettier pass with tailwind fixes
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/thunked.md
  .prettierrc
  components/Directory.tsx
  components/Layout.tsx
  lib/markdoc/nodes/fence.tsx
  package.json
  pages/_document.tsx
  pages/colophon.tsx
  pages/index.tsx
  pages/thunked/[slug].tsx
  pages/to/[link].tsx
  pnpm-lock.yaml
  public/site.webmanifest
Due: prettier --write, eslint --fix

fix: Fixes typo
  pages/thunked.tsx
Due: prettier --write, eslint --fix

fix: Fixes changelog display
  lib/github/discussionToPost.ts
  pages/thunked/[slug].tsx
  types/Post.ts
Due: prettier --write, eslint --fix

feat: Adds repost metadata support
  lib/github/discussionToPost.ts
  pages/thunked/[slug].tsx
  types/Post.ts
Due: prettier --write, eslint --fix

fix: Cleans up weird svg background line
  components/Layout.tsx
  lib/github/discussionToBlog.ts
  pages/feed/[type].tsx
  pages/help.tsx
  pages/index.tsx
  pages/thunked.tsx
  pages/thunked/[slug].tsx
  pages/thunked/tag/[name].tsx
  tailwind.config.js
Due: yarn lint --fix, prettier --write, eslint --fix

fix: Adds redirect for old /support url
  next.config.js
Due: yarn lint --fix, prettier --write, eslint --fix

feat: Adds GH discussions to pages
  .tool-versions
  data/constants.ts
  lib/markdoc/nodes/fence.tsx
  package.json
  pages/api/giscus.css.ts
  pages/thunked/[slug].tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

docs: Fix typo
  pages/help.tsx
Due: prettier --write, eslint --fix

deps: Updates all dependencies to latest
  .tool-versions
  .xo-config.json
  components/Directory.tsx
  components/Layout.tsx
  lib/markdoc/nodes/fence.tsx
  lib/markdoc/nodes/link.tsx
  package.json
  pages/colophon.tsx
  pages/index.tsx
  pages/thunked/[slug].tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: Updates Next.js to 13 and fixes all the things
  additional.d.ts
  gql/index.ts
  lib/deleteUndefined.ts
  lib/markdoc/nodes/fence.tsx
  next.config.js
  package.json
  pages/api/proxy/api.github.com/graphql.ts
  pages/api/v3/thunked/og.ts
  pages/colophon.tsx
  pages/index.tsx
  pages/thunked.tsx
  pages/thunked/[slug].tsx
  pages/thunked/tag/[name].tsx
  pages/to/[link].tsx
  pnpm-lock.yaml
  postcss.config.cjs
  tsconfig.json
Due: yarn lint --fix, prettier --write, eslint --fix

fix: Updates years in industry
  pages/help.tsx
Due: prettier --write, eslint --fix

fix: Adds better message for slug parse errors
  lib/github/discussionToBlog.ts
Due: prettier --write, eslint --fix

fix: Adds additional logging to missing slug errors
  lib/github/discussionToBlog.ts
Due: prettier --write, eslint --fix

fix: Logs error frontmatter as json
  lib/github/discussionToBlog.ts
Due: prettier --write, eslint --fix

fix: Hotfixes phone typo
  lib/github/discussionToBlog.ts
Due: prettier --write, eslint --fix

fix: Removes lastEdited requirement for those flawless first posts
  lib/github/discussionToBlog.ts
Due: prettier --write, eslint --fix

fix: Updates Post type to reflect optional updated, split slug and publish checks
  lib/github/discussionToBlog.ts
  types/Post.ts
Due: prettier --write, eslint --fix

feat: Adds social links page
  pages/social.tsx
Due: prettier --write, eslint --fix

feat: Links socials via header and centralizes the work
  components/Layout.tsx
Due: prettier --write, eslint --fix

feat: Adds icons for all socials
  components/icons/Instagram.tsx
  components/icons/LinkedIn.tsx
  components/icons/Threads.tsx
  pages/social.tsx
Due: prettier --write, eslint --fix
